.btn {
  background: #17A2B8;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 15px 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.btn:hover {
  background: cornflowerblue;
}
@media (max-width: 500px) {
  .btn {
    padding: 22px 10px;
  }
}
.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    max-width: 655px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 300px;
  }
}
header {
  padding: 25px 0;
  border-bottom: 2px dashed #C0C0C0;
}
header nav {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    max-width: 687px;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header nav h1 {
    font-size: 2em;
  }
}
header nav .right-nav a {
  margin-right: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #212529;
}
@media (max-width: 800px) {
  header nav .right-nav a {
    font-size: 1.8em;
  }
}
@media (max-width: 500px) {
  header nav .right-nav a {
    font-size: 1.5em;
    margin: 0 1rem;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .banner-section {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .banner-section img {
  padding-bottom: 30px;
}
.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .content-section {
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .content-section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .content-section .text-content {
    width: 100%;
  }
}
.content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .content-section .img-content .center-img {
    width: 215%;
    margin-left: -80px;
    max-width: none;
  }
}
.inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .inverse-content {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .content-destination {
    width: 100%;
  }
}
.content-destination img {
  border-radius: 10px;
}
.content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .content-pick {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-pick .destination {
    width: 75%;
  }
}
